In [6]:
from datetime import datetime, timedelta

In [7]:
DATE_FMT = "%I:%M %p %m/%d/%y"
TOTAL = 0
def strptime(d):
    return datetime.strptime(d, DATE_FMT)

def dt(d1, d2):
    global TOTAL
    t = strptime(d2) - strptime(d1)
    h = (t.total_seconds() / 3600)
    TOTAL += h
    print("Current: %.1f Total: %.1f"%(h,TOTAL))

def reset():
    global TOTAL
    TOTAL = 0

In [8]:
d1s = "4:30 pm 11/21/17"
d1f = "1:30 pm 11/22/17"

d2s = "1:30 pm 11/22/17"
d2f = "3:30 pm 11/27/17"

d3s = "3:30 pm 11/27/17"
d3f = "12:30 pm 11/29/17"

dt(d1s,d1f)
dt(d2s,d2f)
dt(d3s,d3f)

Current: 21.0 Total: 21.0
Current: 122.0 Total: 143.0
Current: 45.0 Total: 188.0

In [7]:
d3 = d2
d4 = "1:30 pm 12/11/17"
dt(d3, d4)

'Current: 96.5 Total: 116.5'

In [8]:
d5 = "4:00 pm 12/11/17"
d6 = "12:30 pm 12/12/17"
dt(d5, d6)

'Current: 20.5 Total: 137.0'